
<!-- Añadir nuevo elemento -->
<ion-row *ngIf="showAdd">
  <ion-col>
    <ion-item (click)="addData()">
      <ion-label *ngIf="addText">{{addText | translate}}</ion-label>
      <ion-icon name="add-outline"></ion-icon>
    </ion-item>
  </ion-col>
</ion-row>

<!-- Si esta vacio -->
<ion-row *ngIf="!data || (data && data.length == 0)">
  <ion-col>
    <ion-text *ngIf="emptyText">{{emptyText | translate}}</ion-text>
  </ion-col>
</ion-row>

<!-- Datos -->
<ng-container *ngIf="data && data.length > 0">
  <ion-row *ngFor="let d of data">
    <ion-col>
      <ng-template *ngTemplateOutlet="templateData; context: {item: d}"></ng-template>
    </ion-col>
  </ion-row>
</ng-container>
