<!-- Formulario reactivo -->
<form [formGroup]="formEvents" (ngSubmit)="addEditEvent()">

  <!-- Input oculto para el id -->
  <input formControlName="id" name="id" type="hidden">

  <!-- Titulo -->
  <ion-item>
    <ion-input formControlName="title" [label]="'label.title.event' | translate" type="text" name="title"></ion-input>
  </ion-item>

  <!-- Fecha de inicio -->
  <ion-item>
    <ion-label>{{'label.start.event' | translate}}</ion-label>
    <ion-datetime-button slot="end" displayFormat="DD MMM yyyy HH mm" datetime="start"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [min]="minDate" formControlName="start" id="start" name="start" [doneText]="'label.ok.text' | translate" [cancelText]="'label.cancel.text' | translate"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Toggle fin de evento -->
  <ion-item>
    <ion-toggle [checked]="showEnd" name="show-end" (ionChange)="changeShowEnd()">
      {{'label.has.end.event' | translate}}
    </ion-toggle>
  </ion-item>

  <!-- Fecha de fin -->
  <ion-item *ngIf="showEnd">
    <ion-label>{{'label.end.event' | translate}}</ion-label>
    <ion-datetime-button slot="end" displayFormat="DD MMM yyyy HH mm" datetime="end"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [min]="minDate"  formControlName="end" id="end" name="end" [doneText]="'label.ok.text' | translate" [cancelText]="'label.cancel.text' | translate"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Tipo de evento -->
  <ion-item>
    <ion-select [label]="'label.type.event' | translate" name="type" [okText]="'label.ok.text' | translate" [cancelText]="'label.cancel.text' | translate" formControlName="type">

      <ion-select-option value="blog">
        {{'label.type.post.event' | translate}}
      </ion-select-option>
      <ion-select-option value="video">
        {{'label.type.video.event' | translate}}
      </ion-select-option>
      <ion-select-option value="streaming">
        {{'label.type.streaming.event' | translate}}
      </ion-select-option>
      <ion-select-option value="udemy">
        {{'label.type.udemy.event' | translate}}
      </ion-select-option>

    </ion-select>
  </ion-item>

  <!-- Url del evento -->
  <ion-item>
    <ion-input [label]="'label.url.event' | translate" type="url" name="url" formControlName="url"></ion-input>
  </ion-item>

  <!-- Descripcion del evento -->
  <ion-item>
    <ion-textarea [label]="'label.description.event' | translate" name="description" formControlName="description"></ion-textarea>
  </ion-item>

  <ion-button expand="block" type="submit">
    {{(edit ? 'label.edit.event' : 'label.add.event') | translate}}
  </ion-button>

  <ion-button expand="block" type="button" (click)="newEvent()">
    {{'label.new.event' | translate}}
  </ion-button>


</form>